#bank { 
    background-color: #83d0c9;
    width: 50px;
    height: 20px;
    text-align: center;
}
#answer { 
    background-color: #83d0c9;
    width: 50px;
    height: 20px;
    text-align: center;
}